/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.cardinals {
  color: #b80220;
  padding-left: 20px;
}

.cardinals-icon
{
 width: 50%;
 height: 50%;
}
